tutorial/seq1/schema/schema.xsd

<?xml version="1.0"?>
<!--
	This example illustrates a sequence with multiple occurences
-->

<xsd:schema 
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="yournamespace/seq"
        xmlns="yournamespace/seq"
        elementFormDefault="qualified">
    
	<!-- ALT 1: implicit sequence multiplicity -->	
	<xsd:complexType name="ContainerType1">
		<xsd:sequence maxOccurs="10">
		   <xsd:element name="firstName" type="xsd:string"/>
		   <xsd:element name="middleName" type="xsd:string"/>
		   <xsd:element name="lastName" type="xsd:string"/>
		</xsd:sequence>		
	</xsd:complexType>

	<xsd:element name="container" type="ContainerType1"/>
	
</xsd:schema>
