tutorial/recursion2/schema/schema.xsd

<?xml version="1.0"?>
<!--
	This example illustrates multiple occurences of model groups
-->

<xsd:schema 
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://xml2java.net/test"
        xmlns="http://xml2java.net/test"
        elementFormDefault="qualified">
    
    <xsd:element name="a" type="AType" />

    <xsd:complexType name="AType" mixed="true">
		<xsd:sequence minOccurs="0" maxOccurs="1">
			<xsd:element ref="a" />
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
    </xsd:complexType>

    
</xsd:schema>
